

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color:black !important;
    color:rgb(0,255,0) !important;
    font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace !important;
}

header .navbar-expand-lg{
    height:7rem !important;
    background-color:black !important;
    color:rgb(0,255,0) !important;
}

header .navbar-expand-lg .container-fluid .nav-brand .logo-heading{
    color:rgb(0,255,0) !important;
}

header nav ul .nav-item .nav-link{
    color:rgb(0, 255, 0) !important;
    background-color: black !important;
}
